{{#if word}}

<div class="resultHeader">
  <nav class="homographs" data-count={{{defs.length}}}>
    {{#each defs}}
    <a class="homograph" href="#section-{{@index}}">
      <span class="wordForm">{{{this.homograph.wordForm}}}</span>
      <span class="wordClass">{{{this.homograph.wordClass}}}</span>
    </a>
    {{/each}}
  </nav>
  <a class="external cnrtlLink" href="{{cnrtlLink}}">Voir sur le CNRTL</a>
</div>

<article>
  {{#each defs}}
  <section class="def" id="section-{{@index}}">{{{this.def}}}</section>
  {{/each}}
</article>

<a id="backToTop" aria-hidden="true" href="#top"></a>

<script>
  const rootElement = document.documentElement;
  const backToTop = document.getElementById('backToTop');
  document.addEventListener("scroll", function () {
    backToTop.classList.toggle('visible', rootElement.scrollTop > (rootElement.clientHeight / 2));
  });
</script>
{{else}}
<p>
</p>
{{/if}}