<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <title>{{#if word}}Définition de "{{{ word }}}" - {{/if}}Simple TLFi</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0" />
  <meta name="author" content="Benjamin Becquet" />
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body class="{{#unless word}}home{{/unless}}">
  <div class="page">
    <header>
      <a href="/def">
        <h1 class="pageTitle">
          <span class="icon">{{{inlineSVG "imgs/icon-book.svg"}}}</span>
          <span class="text">Simple TLFi</span>
        </h1>
      </a>
      <form class="searchForm" action="/def" method="get">
        <div class="wordInputWrapper">
          <input id="wordInput" type="text" name="word" aria-label="Chercher un mot" {{#if word}}value="{{{word}}}"
            {{else}}autofocus{{/if}} />
          <input type="submit" value="Chercher" />
        </div>
      </form>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      <p>Ce site est une présentation alternative du <a class="external"
          href="https://fr.wikipedia.org/wiki/Tr%C3%A9sor_de_la_langue_fran%C3%A7aise_informatis%C3%A9">TLFi</a>
        tel que proposé par le <a class="external" href="https://www.cnrtl.fr/definition/">portail
          lexicographique</a> du
        <abbr title="Centre National de Ressources Textuelles et Linguistiques">CNRTL</abbr>.</p>
      <p>C'est un projet personnel qui n'est affilié à aucune de ces entités. <a
          href="mailto:benjamin@bbecquet.net?subject=Simple CNRTL">Me contacter.</a></p>
    </footer>
  </div>
</body>

</html>