<!DOCTYPE html>
<html lang="fr" data-setting_theme="{{{cookies.setting_theme}}}" data-setting_font="{{{cookies.setting_font}}}"
  data-setting_align="{{{cookies.setting_align}}}">

<head>
  <meta charset="utf-8" />
  <title>{{#if word}}Définition de "{{{ word }}}" - {{/if}}Simple TLFi</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0" />
  <meta name="author" content="Benjamin Becquet" />
  <meta name="robots" content="noindex" />
  <link rel="stylesheet" href="{{{rootUrl}}}styles/main.css">
</head>

<body class="{{#unless word}}home{{/unless}}">
  <div id="top" class="page">
    <header>
      <a href="{{{rootUrl}}}">
        <h1 class="pageTitle">
          <span class="icon">{{{inlineSVG "imgs/icon-book.svg"}}}</span>
          <span class="text">Simple TLFi</span>
        </h1>
      </a>
      <div id="controls">
        <form class="searchForm" action="{{{rootUrl}}}" method="get">
          <div class="wordInputWrapper">
            <input id="wordInput" type="text" name="word" aria-label="Chercher un mot" placeholder="Chercher un mot"
              {{#if word}}value="{{{word}}}" class="filled" {{else}}autofocus{{/if}} />
            <button id="wordInputClear" type="button" aria-label="Effacer"></button>
            <button id="wordInputSubmit" type="submit" aria-label="Chercher">
              <img src="{{{rootUrl}}}imgs/icon-mag-glass.svg" alt="" />
            </button>
          </div>
        </form>
        <button id="settingsToggle" aria-label="Préférences d'affichage"
          title="Préférences d'affichage">{{{inlineSVG "imgs/icon-settings.svg"}}}</button>
      </div>
    </header>
    <div id="settings" class="hidden">
      <div class="setting">
        <div class="setting-title">Thème</div>
        <div class="setting-group">
          <label>
            <input type="radio" name="theme" value="auto"
              {{#ifEquals cookies.setting_theme 'auto'}}checked{{else}}{{#ifEquals cookies.setting_theme null}}checked{{/ifEquals}}{{/ifEquals}}>
            <span class="setting-label">Auto</span>
          </label>
          <label>
            <input type="radio" name="theme" value="light"
              {{#ifEquals cookies.setting_theme 'light'}}checked{{/ifEquals}}>
            <span class="setting-label" title="Clair">{{{inlineSVG "imgs/icon-sun.svg"}}}</span>
          </label>
          <label>
            <input type="radio" name="theme" value="dark"
              {{#ifEquals cookies.setting_theme 'dark'}}checked{{/ifEquals}}>
            <span class="setting-label" title="Sombre">{{{inlineSVG "imgs/icon-moon.svg"}}}</span>
          </label>
        </div>
      </div>
      <div class="setting">
        <div class="setting-title">Police</div>
        <div class="setting-group">
          <label>
            <input type="radio" name="font" value="serif"
              {{#ifEquals cookies.setting_font 'serif'}}checked{{else}}{{#ifEquals cookies.setting_font null}}checked{{/ifEquals}}{{/ifEquals}}>
            <span class="setting-label" title="Serif">{{{inlineSVG "imgs/icon-serif.svg"}}}</span>
          </label>
          <label>
            <input type="radio" name="font" value="sans-serif"
              {{#ifEquals cookies.setting_font 'sans-serif'}}checked{{/ifEquals}}>
            <span class="setting-label" title="Sans serif">{{{inlineSVG "imgs/icon-sans-serif.svg"}}}</span>
          </label>
        </div>
      </div>
      <div class="setting">
        <div class="setting-title">Alignement</div>
        <div class="setting-group">
          <label>
            <input type="radio" name="align" value="left"
              {{#ifEquals cookies.setting_align 'left'}}checked{{else}}{{#ifEquals cookies.setting_align null}}checked{{/ifEquals}}{{/ifEquals}}>
            <span class="setting-label" title="Gauche">{{{inlineSVG "imgs/icon-align-left.svg"}}}</span>
          </label>
          <label>
            <input type="radio" name="align" value="justify"
              {{#ifEquals cookies.setting_align 'justify'}}checked{{/ifEquals}}>
            <span class="setting-label" title="Justifié">{{{inlineSVG "imgs/icon-align-justify.svg"}}}</span>
          </label>
        </div>
      </div>
    </div>
    <main>
      {{> @partial-block }}
    </main>
    <footer>
      <p>Ce site est une présentation alternative du <a class="external"
          href="https://fr.wikipedia.org/wiki/Tr%C3%A9sor_de_la_langue_fran%C3%A7aise_informatis%C3%A9">TLFi</a>
        tel que proposé par le <a class="external" href="https://www.cnrtl.fr/definition/">portail
          lexicographique</a> du
        <abbr title="Centre National de Ressources Textuelles et Linguistiques">CNRTL</abbr>. C'est un projet personnel
        qui n'est affilié à aucune de ces entités.</p>
      <p><a href="https://bbecquet.net/articles/2021/03/tlfi-simplifié/">En savoir plus</a> - Auteur : <a
          href="https://bbecquet.net/">Benjamin
          Becquet</a> - <a href="mailto:benjamin@bbecquet.net?subject=Simple TLFi">Me contacter</a>.</p>
    </footer>
  </div>
  <script>
    window.addEventListener('load', () => {
      const root = document.documentElement;

      document.querySelectorAll('#settings input[type=radio]')
        .forEach(radio => {
          radio.addEventListener('change', e => {
            const { name, value } = e.target;
            // apply the setting right away
            root.dataset[`setting_${name}`] = value;
            // save it as cookie for further server rendering
            document.cookie = `setting_${name}=${value}`;
          })
        });

      const settingsToggle = document.getElementById('settingsToggle');
      settingsToggle.addEventListener('click', function (e) {
        settingsToggle.classList.toggle('pressed');
        document.getElementById('settings').classList.toggle('hidden');
      });

      const wordInput = document.getElementById('wordInput');
      wordInput.addEventListener('input', function (e) {
        wordInput.classList.toggle('filled', e.target.value);
      });

      document.getElementById('wordInputClear').addEventListener('click', function () {
        wordInput.value = '';
        wordInput.dispatchEvent(new Event('input'));
        wordInput.focus();
      });
    });
  </script>
</body>

</html>